@charset "utf-8";


/* 로딩페이지 얼굴로고 */
@keyframes wait-all {
    0% {
        opacity: 0;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        opacity: 1;
    }
}
@keyframes wait1 {
    0% {
        position: absolute; top: 50%; right: -150px;
        transform: translateY(-50%);
    }
    10% {}
    20% {
        position: absolute; top: 30%; right: 10%;
        transform: translateY(-30%);
    }
    30% {}
    40% {
        position: absolute; top: 70%; right: 20%;
        transform: translateY(-70%);
    }
    50% {}
    60% {
        position: absolute; top: 30%; right: 30%;
        transform: translateY(-30%);
        opacity: 1;
    }
    70% {}
    80% {}
    90% {}
    100% {
        position: absolute; top: 45%; right: 43%;
        transform: translate(-45%, -43%);
        opacity: 0;
    }
}
@keyframes wait2 {
    0% {
        position: absolute; top: -100px; left: 50%;
        transform: translateX(-50%) rotate(5turn);
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {opacity: 1;}
    100% {
        position: absolute; top: 31%; left: 49%;
        transform: translate(-31%, -49%);
        opacity: 0;
    }
}
@keyframes wait3 {
    0% {
        position: absolute; top: 50%; left: -100px;
        transform: translateY(-50%);
        opacity: 0;
    }
    10% {}
    20% {}
    30% {
        opacity: 0;
    }
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 44%; left: 46%;
        transform: translate(-44%, -46%);
        opacity: 0;
    }
}
@keyframes wait4 {
    0% {
        position: absolute; top: 65%; left: -100px;
        transform: translateY(-65%);
    }
    10% {}
    20% {}
    30% {}
    40% {
        position: absolute; top: 65%; left: 48%;
        transform: translate(-65%, -48%);
    }
    50% {}
    60% {}
    70% {}
    80% {}
    90% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 65%; left: 48%;
        transform: translate(-65%, -48%);
        opacity: 0;
    }
}
@keyframes wait5 {
    0% {
        position: absolute; top: 65%; left: 51%;
        transform: translate(-65%, -51%);
    }
    10% {}
    20% {}
    30% {
        position: absolute; top: 65%; left: 51%;
        transform: translate(-65%, -51%);
    }
    40% {
        
    }
    50% {
        position: absolute; top: 65%; left: 60%;
        transform: translate(-65%, -60%);
    }
    60% {}
    70% {}
    80% {}
    90% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 65%; left: 51%;
        transform: translate(-65%, -51%);
        opacity: 0;
    }
}
@keyframes wait6 {
    0% {
        position: absolute; top: 66%; left: 53%;
        transform: translate(-66%, -53%);
    }
    10% {}
    20% {}
    30% {
        position: absolute; top: 66%; left: 53%;
        transform: translate(-66%, -53%);
    }
    40% {}
    50% {
        position: absolute; top: 66%; left: 75%;
        transform: translate(-66%, -75%);
    }
    60% {}
    70% {}
    80% {}
    90% {
        opacity: 1;
    }
    100% {
        position: absolute; top: 66%; left: 54%;
        transform: translate(-66%, -54%);
        opacity: 0;
    }
}
/* 산호초+미역의 클릭버튼 */
@keyframes click {
    0% {
        transform: translateY(20%);
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        transform: translateY(0%);
        color: pink;
    }
}
/* 커리어 월별버튼 색깔 */
@keyframes month {
    0% {
        color: black;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {
        color: #8f784b;
    }
    80% {}
    90% {}
    100% {
        color: black;
    }
}
/* 커리어 월별버튼 클릭시 나타나는 선 */
@keyframes month-be1 {
    0% {
        height: 0px;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 40px;
        top: 100%;
    }
}
@keyframes month-af1 {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        top: 100%;
    }
}
@keyframes month-be2 {
    0% {
        height: 0px;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 40px;
        bottom: 100%;
    }
}
@keyframes month-af2 {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        bottom: 100%;
    }
}
/* 커리어 월별버튼 클릭시 나타나는 커리어내용 */
@keyframes month-sp {
    0% {
        opacity: 0;
        width: 30px;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        opacity: 1;
        width: auto;
    }
}
/* 죽은 물고기 */
/* @keyframes die-fish {
    0% {
        position: absolute; top: 50%; left: 50%;
        transform: translate(-50%, -50%);
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        position: absolute; top: 50%; left: 50%;
        transform: translate(200%, -600%);
        width: 115px; height: auto;
    }
} */
/* 컨택트 전송버튼 클릭시 움직이는 생선뼈 */
@keyframes contact {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {}
}
/* 재도전버튼 */
@keyframes turn {
    0% {}
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {
        /* transform: rotate(1turn); */
    }
    100% {
        transform: rotate(1turn);
    }
} 
/* html */
@keyframes htmlscore {
    0% {
        height: 0%;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 90%;
        opacity: 1;
    }
}
/* css */
@keyframes cssscore {
    0% {
        height: 0%;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 85%;
        opacity: 1;
    }
}
/* javascript */
@keyframes jsscore {
    0% {
        height: 0%;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 90%;
        opacity: 1;
    }
}
/* jquery */
@keyframes jqscore {
    0% {
        height: 0%;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 70%;
        opacity: 1;
    }
}
/* react */
@keyframes reactscore {
    0% {
        height: 0%;
    }
    10% {}
    20% {}
    30% {}
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {}
    100% {
        height: 80%;
        opacity: 1;
    }
}
/* myscore 퍼센트 수치 */
@keyframes score {
    0% {
        position: absolute; bottom: 105%; left: 50%;
        transform: translateX(-50%);
    }
    10% {}
    20% {}
    30% {
        position: absolute; bottom: 110%; left: 50%;
        transform: translateX(-50%);
    }
    40% {}
    50% {}
    60% {}
    70% {}
    80% {}
    90% {
        
    }
    100% {
        position: absolute; bottom: 105%; left: 50%;
        transform: translateX(-50%);
    }
}